* {
  border: none;
  margin-top: 2px;
  border-radius: 0px;
  font-family: "JetbrainsMono Nerd Font";
  min-height: 0px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin-top: 2px;
  padding-top: 0px;
  margin-left: 8px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 5px;
  background: #282828;
  transition: none;
}

#workspaces button {
  margin-top: -6px;
  margin-bottom: -2px;
  transition: none;
  color: #fbf1c7;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: #fe8019;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #d65d0e;
  border-color: #d65d0e;
}

#network,
#wireplumber,
#battery,
#backlight,
#clock,
#memory,
#cpu,
#custom-launcher,
#custom-media {
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 8px;
  transition: none;
}

/* Kolory i inne detale */
#network {
  margin-left: 5px;
  color: #161320;
  background: #fb4934;
}

#wireplumber {
  margin-left: 5px;
  color: #1a1826;
  background: #fae3b0;
}

#battery {
  margin-left: 5px;
  color: #161320;
  background: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#backlight {
  margin-left: 5px;
  color: #161320;
  background: #f8bd96;
}

#clock {
  margin-left: 5px;
  margin-right: 5px;
  color: #161320;
  background: #8ec07c;
}

#memory {
  margin-left: 5px;
  color: #161320;
  background: #fabd2f;
}

#cpu {
  margin-left: 5px;
  color: #161320;
  background: #b8bb26;
}

#custom-launcher {
  font-size: 20px;
  margin-left: 5px;
  padding-right: 4px;
  color: #fe8019;
  background: #161320;
}

#custom-media {
  margin-left: 5px;
  color: #161320;
  background: #f2cdcd;
}
